My workflow (1).json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {}
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "4ea5358c-1c76-4710-8b67-77c4d1810933",
      "name": "Gmail Trigger",
      "credentials": {
        "gmailOAuth2": {
          "id": "6tzezNTIQs6pbjo5",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=hello hru wru {{ $json.payload.mimeType }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        208,
        0
      ],
      "id": "fc21d616-bd84-4a9f-a000-ab6c821a3407",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "5fb94392-1dc3-4828-bccb-020e1899fbf7",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sUEVXWyTsRXxWFis",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "saisanjeethravva@gmail.com",
        "subject": "hello",
        "message": "say someting",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        560,
        0
      ],
      "id": "6c8414c0-79c4-4178-9126-a5d2b3e51965",
      "name": "Send a message",
      "webhookId": "3ac69d1f-c6a0-45a2-a206-72aa7fa03580",
      "credentials": {
        "gmailOAuth2": {
          "id": "6tzezNTIQs6pbjo5",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dc771b02-fb7f-4624-8033-27a4f12647d0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19876841e38b9bb2ae1e619a06c9a23767f3083dc8a1e066e950732e5cca1545"
  },
  "id": "5fPH2nREALPJdeRF",
  "tags": []
}